<footer class="page-footer blue accent-3">
  <div class="container">
    <div class="row">
      <div class="col s12 center">
        <img
          src="/assets/resources/images/logo.png"
          id="logo-footer"
          class="img-responsive"
          height="120em"
        />
      </div>
    </div>
  </div>
  <div class="footer-app center">
    <div class="container my-font">
      Gestão de Despesas e Formas de Pagamento - {{ this.ano }}
      <div *ngIf="loggedIn"> - Usuário logado: {{this.loginUsuario}}.</div>
    </div>
  </div>
</footer>
